.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  gap: 0.25rem;
}

.listItem {
  background-color: var(--colors-backgroundSecondary);
  cursor: pointer;
  padding: 1rem;
  border: 1px solid var(--colors-textDefault);
  border-radius: 6px;
  transition: 0.3s ease;
}

.listItem:focus,
.listItem:hover {
  background-color: var(--colors-accent);
}
